@font-face {
    font-family: 'm6x11';
    src: url('../assets/fonts/m6x11plus.ttf') format('truetype');
}
@font-face {
    font-family: 'm5x7';
    src: url('../assets/fonts/m5x7.ttf') format('truetype');
}
#loadingOverlay h1 {
    font-family: 'm6x11', sans-serif;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#speechBubble{
    position: absolute;       
    top: 170px;             
    left: 650px;
    width: 1200px;             
    height: 800px;            
    background: url('../assets/sprites/bulle.png') no-repeat center center;
    background-size: contain; 
    z-index: 50;             
    pointer-events: none;   
    image-rendering: pixelated;  
    transform-origin: center;
}
#speechText {
    margin: 40px, 20px, 20px, 20px;
    padding: 60px;
    color: rgb(56, 71, 74);
    font-family: 'm5x7';
    font-size: 54px;
    white-space: pre-line;
    z-index: 60;
    transform-origin: center;
  }